{% extends 'JluctConfiguratorServerBundle::layout.html.twig' %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <button id="test">TEST</button>
                <h2><b>Мастер настроек</b></h2>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores assumenda dolore
                    eligendi, eos sapiente. Alias commodi consectetur consequatur, consequuntur, cum dolore eligendi
                    excepturi odit perspiciatis qui sapiente soluta sunt.
                </div>
                <div>Delectus dolorum ea facilis hic? Aut consequatur dolores eaque eligendi, eveniet impedit, iste
                    magni molestias neque nisi nostrum nulla officiis porro possimus quas quasi reiciendis repellendus
                    saepe sed, totam. Hic!
                </div>
                <div>Atque blanditiis commodi consectetur consequatur, cumque debitis doloremque dolores et
                    exercitationem impedit incidunt ipsum itaque libero molestiae nesciunt numquam porro praesentium
                    quae qui quibusdam quo similique sint tempora ullam veritatis.
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
