{% extends 'JluctConfiguratorServerBundle::layout.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Мастер настроек</h2>
                <pre>

                </pre>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
